<nav>
    <div class="nav-wrapper grey darken-3" style="text-align: center">
      <ul id="nav-mobile" class="" style="display: inline-block;">
        <li><a href="/location"{{#if location}} class="active"{{/if}}>Image Locations</a></li>
        <li><a href="/activity" {{#if activity}} class="active"{{/if}}>Activity</a></li>
        <li><a href="/compete" {{#if compete}} class="active"{{/if}}>You vs Them</a></li>
      </ul>
      
    </div>
    <div id="progress" class="progress pink lighten-4" style="margin-top: 0px; visibility: hidden">
        <div class="indeterminate pink"></div>
    </div>
    
  </nav>