<div class="row section">
	<div class="col s2 offset-s3"><a href="/location"><span class="page">Location</span></a></div>
	<div class="col s2"><span class="page active">Activity</span></div>
	<div class="col s2"><a href="/compete"><span class="page">You vs Them</span></a></div>
</div>
<div class="section">

	{{> loading_spinner}}

	<div id="content">
		<svg id="chart" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid"></svg>
	</div>

</div>

<script src="js/visualization.js"></script>