{{> navbar activity='True'}}

<div class="container section center-align">

	<div id="content">
		<svg id="chart" viewBox="0 0 800 400" preserveAspectRatio="xMidYMid"></svg>

		<span class="btn waves-effect light-green right" id="sort_button">Sort</span>
	</div>


</div>

<script src="js/activity.js"></script>