<div class="container center-align">
	<div class="section">
		<h3>Oops...</h3>
		<p>Seems like something went wrong. Sorry for that.</p>
	</div>
	<div class="section">
      	<a href="/" class="btn waves-effect light-green">Take me out of here</a>   
  	</div>
</div>