{{> navbar location='True'}}

<div class="container section center-align">

	<div id="content">
		<svg id="chart" class="map" viewBox="0 0 960 500" preserveAspectRatio="xMidYMid"></svg>
	</div>
	
</div>

<script src="js/location.js"></script>