<div class="row section">
	<div class="col s2 offset-s3"><span class="page active">Location</span></div>
	<div class="col s2"><a href="/activity"><span class="page">Activity</span></a></div>
	<div class="col s2"><a href="/compete"><span class="page">You vs Them</span></a></div>
</div>
<div class="section">
	<img src="images/map.png" alt="map" class="responsive-img">
</div>