<div class="container center-align">
	<div class="section">
		<h3>followUp</h3>
		<p>Learn more about the people you follow on Instagram</p>
	</div>
	<div class="section">
		<a href="/auth/instagram"><div id="instagram-icon"></div></a>
	</div>
</div>