<!-- <div class="section">
 -->	<p>Check out who your Instagram followers are and how they compare to you</p>
  	<a href="/auth/instagram" class="btn waves-effect brown">Login with Instagram</a>   
<!-- </div> -->