body {
	background-color: #f0f0f0
}

/* Remove margin below rows in Materialize */
.row {
	margin-bottom: 0px
}

/* Navigation Bar */
nav .active {
	color: #ff4081;
	font-weight: bold;
}

/* Login */
#instagram-icon {
	margin: 0 auto;
	background: url('/images/instagram.png') no-repeat;
	background-size: 100%;
	width: 80px;
	height: 80px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	border-radius: 40px;

}

#instagram-icon:hover {
	background: url('/images/instagram-pink.png') no-repeat;
	background-size: 100%;

}

.page {
	color: #555555;
	font-size: 16px;
}


.d3-tip {
	font-size: 0.7em;
	border-radius: 0.5px;
	padding: 5px;
	background: white;
	border-radius: 2px;
	text-align: center;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

#content {
	visibility: hidden;
}

/* Location */
.map path {
	stroke: white;
	stroke-width: 0.7px;
	fill: #d0d0d0;
}


/* Activity */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


/* Compete */
#result {
	margin-top: 50px;
	font-size: 1.3em;
}