/* Remove margin below rows in Materialize */
.row {
	margin-bottom: 0px
}

.page {
  color: #555555;
  font-size: 16px;
}

.active {
  color: #e91e63;
  font-weight: bold;
}

/* Style for world map */
path {
  stroke: white;
  stroke-width: 0.5px;
  fill: #d7ccc8;
}